Code/Module_4/IP_Camera_Anywhere/node_red_flow.txt
[{"id":"dc86b5d1.2a92b8","type":"base64","z":"254c9c97.f85b34","name":"Encode","action":"","property":"payload","x":640,"y":560,"wires":[["2d1a80d3.75ee6"]]},{"id":"dc4e4197.2356d","type":"multipart-decoder","z":"254c9c97.f85b34","name":"","ret":"bin","url":"http://192.168.1.XX","tls":"","delay":0,"maximum":"9999999999","blockSize":"1","x":470,"y":560,"wires":[["dc86b5d1.2a92b8"]]},{"id":"98056732.0320d8","type":"ui_template","z":"254c9c97.f85b34","group":"25d3c8d6.d87758","name":"Show image","order":1,"width":"6","height":"5","format":"<div>\n    <img width=\"300px\" alt=\"esp32-cam test\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":950,"y":560,"wires":[[]]},{"id":"2d1a80d3.75ee6","type":"delay","z":"254c9c97.f85b34","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"4","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":790,"y":560,"wires":[["98056732.0320d8"]]},{"id":"564563c7.5f77dc","type":"change","z":"254c9c97.f85b34","name":"","rules":[{"t":"set","p":"stop","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":700,"wires":[["dc4e4197.2356d","57911620.f70448"]]},{"id":"b6bf039c.0afb6","type":"ui_button","z":"254c9c97.f85b34","name":"START","group":"25d3c8d6.d87758","order":3,"width":0,"height":0,"passthru":false,"label":"START STREAM","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":220,"y":560,"wires":[["dc4e4197.2356d","4781a421.24c08c","e805ff8.e14e7"]]},{"id":"57911620.f70448","type":"function","z":"254c9c97.f85b34","name":"","func":"msg.payload = \"OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":700,"wires":[["a262a044.72969"]]},{"id":"a262a044.72969","type":"ui_text","z":"254c9c97.f85b34","group":"25d3c8d6.d87758","order":2,"width":0,"height":0,"name":"","label":"STREAMING","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":680,"wires":[]},{"id":"4781a421.24c08c","type":"function","z":"254c9c97.f85b34","name":"","func":"msg.payload = \"ON\";\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":640,"wires":[["a262a044.72969"]]},{"id":"e805ff8.e14e7","type":"delay","z":"254c9c97.f85b34","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":640,"wires":[["564563c7.5f77dc"]]},{"id":"3d6e33be.ecee6c","type":"base64","z":"254c9c97.f85b34","name":"Encode","action":"","property":"payload","x":640,"y":320,"wires":[["7163db2d.5d3284"]]},{"id":"adc42238.d4d4a","type":"multipart-decoder","z":"254c9c97.f85b34","name":"","ret":"bin","url":"http://192.168.1.XX","tls":"","delay":0,"maximum":"9999999999","blockSize":"1","x":470,"y":320,"wires":[["3d6e33be.ecee6c"]]},{"id":"4ac0c1b5.8a6fd","type":"ui_template","z":"254c9c97.f85b34","group":"5c78084.49cfff8","name":"Show image","order":1,"width":"6","height":"5","format":"<div>\n    <img width=\"300px\" alt=\"esp32-cam test\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":950,"y":320,"wires":[[]]},{"id":"7163db2d.5d3284","type":"delay","z":"254c9c97.f85b34","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"4","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":790,"y":320,"wires":[["4ac0c1b5.8a6fd"]]},{"id":"25b07a3d.014a56","type":"change","z":"254c9c97.f85b34","name":"","rules":[{"t":"set","p":"stop","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":460,"wires":[["adc42238.d4d4a","8f628f82.a3173"]]},{"id":"6bcbee7e.c4fe2","type":"ui_button","z":"254c9c97.f85b34","name":"START","group":"5c78084.49cfff8","order":3,"width":0,"height":0,"passthru":false,"label":"START STREAM","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":220,"y":320,"wires":[["adc42238.d4d4a","e18d6e52.326c1","62027989.7078a8"]]},{"id":"8f628f82.a3173","type":"function","z":"254c9c97.f85b34","name":"","func":"msg.payload = \"OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":460,"wires":[["47e67947.56ef18"]]},{"id":"47e67947.56ef18","type":"ui_text","z":"254c9c97.f85b34","group":"5c78084.49cfff8","order":2,"width":0,"height":0,"name":"","label":"STREAMING","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":440,"wires":[]},{"id":"e18d6e52.326c1","type":"function","z":"254c9c97.f85b34","name":"","func":"msg.payload = \"ON\";\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":400,"wires":[["47e67947.56ef18"]]},{"id":"62027989.7078a8","type":"delay","z":"254c9c97.f85b34","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":400,"wires":[["25b07a3d.014a56"]]},{"id":"d5cfb0.0bcdd05","type":"base64","z":"254c9c97.f85b34","name":"Encode","action":"","property":"payload","x":640,"y":80,"wires":[["ecd306a2.80aca8"]]},{"id":"8053d6fa.d849d8","type":"multipart-decoder","z":"254c9c97.f85b34","name":"","ret":"bin","url":"http://192.168.1.XX","tls":"","delay":0,"maximum":"9999999999","blockSize":"1","x":470,"y":80,"wires":[["d5cfb0.0bcdd05"]]},{"id":"3db6317b.231a5e","type":"ui_template","z":"254c9c97.f85b34","group":"f60ccb35.ef21a8","name":"Show image","order":1,"width":"6","height":"5","format":"<div>\n    <img width=\"300px\" alt=\"esp32-cam test\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":950,"y":80,"wires":[[]]},{"id":"ecd306a2.80aca8","type":"delay","z":"254c9c97.f85b34","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"4","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":790,"y":80,"wires":[["3db6317b.231a5e"]]},{"id":"e8a47c73.99a1c","type":"change","z":"254c9c97.f85b34","name":"","rules":[{"t":"set","p":"stop","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":220,"wires":[["8053d6fa.d849d8","fb22f792.8f77b8"]]},{"id":"dac3dfbd.8e8af","type":"ui_button","z":"254c9c97.f85b34","name":"START","group":"f60ccb35.ef21a8","order":3,"width":0,"height":0,"passthru":false,"label":"START STREAM","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":220,"y":80,"wires":[["8053d6fa.d849d8","ab7166a9.af43c8","97eabc71.32883"]]},{"id":"fb22f792.8f77b8","type":"function","z":"254c9c97.f85b34","name":"","func":"msg.payload = \"OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":220,"wires":[["4feb44b.3a1a9bc"]]},{"id":"4feb44b.3a1a9bc","type":"ui_text","z":"254c9c97.f85b34","group":"f60ccb35.ef21a8","order":2,"width":0,"height":0,"name":"","label":"STREAMING","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":200,"wires":[]},{"id":"ab7166a9.af43c8","type":"function","z":"254c9c97.f85b34","name":"","func":"msg.payload = \"ON\";\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":160,"wires":[["4feb44b.3a1a9bc"]]},{"id":"97eabc71.32883","type":"delay","z":"254c9c97.f85b34","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":160,"wires":[["e8a47c73.99a1c"]]},{"id":"25d3c8d6.d87758","type":"ui_group","z":"","name":"Kitchen","tab":"d2464ccd.f4dd9","order":3,"disp":true,"width":"6","collapse":false},{"id":"5c78084.49cfff8","type":"ui_group","z":"","name":"Outdoors","tab":"d2464ccd.f4dd9","order":2,"disp":true,"width":"6","collapse":false},{"id":"f60ccb35.ef21a8","type":"ui_group","z":"","name":"Office","tab":"d2464ccd.f4dd9","order":1,"disp":true,"width":"6","collapse":false},{"id":"d2464ccd.f4dd9","type":"ui_tab","z":"","name":"HOME","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
